{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Applied </title>
</head>
<body>
    {% for data in dataset %}
{{data}}
<form method="post">
    {% csrf_token %}
    {{form}}
    <input type = "Submit" value="Post">
    <a href='/'>Cancel</a>
</form>
<hr>
{% endfor %}
</body>
</html>
{% endblock %}