<!--users/templates/users/dashboard.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>
{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

Hello, {{ user.username|default:'Guest' }}!
<a href="/createposition">Add Position</a>
<a href="/CompanyDashboard">Company Dashboard</a>
<a href="/AppliedStudent">Views Students Applied</a>
<a href="/Applied">Applied Position</a>
<a href="/ApplyPosition">apply to Positions</a>
{% endif %}
{% endblock %}
<body>

</html>