<!--users/templates/users/dashboard.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>
{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
{% if user.user_type == 1 %}

Hello Student, {{ user.username|default:'Guest' }}!
<br>
<a href="/UpdateProfile">Student Profile Update</a>
<br>
<a href="/Dashboard">Student Dashboard</a>
<br>
<a href="/AppliedPosition">Applied Positions With Status</a>
<br>
<a href="/ApplyPosition">Apply to Positions</a>
<br>
<a href="/Offers">View Offers</a>
<br>
{% endif %}
{% if user.user_type == 4 %}

Hello Mentor, {{ user.username|default:'Guest' }}!

<br>
<a href="/Dashboard">Dashboard</a>
<br>
<a href="/AssignMentor">Add Students /Assign Student , to you</a>
<br>
<a href="/StudentList">View List Of Students With Button to Detailed View</a>
<br>
<a href="/Dashboard">Export Students Data as CSV</a>
<br>
<a href="/verifyStu">Verify Students</a>
<br>
<a href="/exportcsv/3">Export Students </a>
<br>
<a href="/exportcsv/3">Export Applied Data Of Mentor's Students </a>
<br>
{% endif %}
{% if user.user_type == 3 %}

Hello Company, {{ user.username|default:'Guest' }}!

<br>
<a href="/Dashboard">Dashboard</a>
<br>
<a href="/Position/create">Create Position</a>
<br>
<a href="/Position">View Positions Already Created</a>
<br>
<a href="/Offer/create">Create Offer</a>
<br>
<a href="/Offer">View Offers Created By Company</a>
<br>
<a href="/assignoffer">Assign Created Offer to Selected Students</a>
<br>
<a href="/UpdateAppliedStuStatus">Update Student Status </a>
<br>
<a href="/applied">View Student who Applied </a>
<br>
<a href="/exportcsv/1">Export Students who Applied </a>
<br>
<a href="/exportcsv/3">Export Applied </a>
<br>
{% endif %}
{% if user.user_type == 2 %}

Hello Placement Officer, {{ user.username|default:'Guest' }}!

<br>
<a href="/Dashboard">Dashboard</a>
<br>
<a href="/stusignup">Student SignUp</a>
<br>
<a href="/mentorsignup">Mentor Signup</a>
<br>
<a href="/ploffsignup">Placement Officer SignUp</a>
<br>
<a href="/companysignup">Company SignUp</a>
<br>
<a href="/verifyStu">Verify Users Grouped By there User Type</a>
<br>
<a href="/CompanyList">View All Companies With Detail,Update And Delete Button </a>
<br>

<a href="/Offer">List Offers with ,Update And Delete Button </a>
<br>
<a href="/Position">View All Positions With Detail, Update And Delete Button </a>
<br>
<a href="/StudentList">View All Students With Detail,Update And Delete Button</a>
<br>
<a href="/applied">View All Info of Student who Applied for Positions   </a>
<br>
<a href="/exportcsv/3">Export Applied Info   </a>
<br>
<a href="/exportcsv/1">Export Students data   </a>
<br>
<a href="/exportcsv/5">Export Company data   </a>
<br>
<a href="/exportcsv/4">Export Offers Data   </a>
<br>
{% endif %}

{% endif %}
{% endblock %}
<body>

</html>