{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign  form</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
        {% for form in formset %}
        {{form}}
        
        <a href="{% url 'StuDetail1' form.username.value %}">Student Detail</a>
        
        {% endfor %}
    </table>
        <input type="submit" value="Assign">
    </form>
</body>
</html>
{% endblock %}