{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Applied </title>
</head>
<body>
    {% for data in dataset %}
<dl>  
    <dt>Position</dt>  
    <dd>{{data.Position}}</dd>
    <dt>Company</dt>  
    <dd>{{data.Position.Company}}</dd>    
    <dt>Applied At</dt>  
    <dd>{{data.Time}}</dd>  
   <dt>Status</dt>  
   <dd>{{data.Status}}</dd>  
   {% if data.FinalOffer %}
    <dt>Offer Position</dt>  
    <dd>{{data.FinalOffer.Position}}</dd>
    <dt> Offer Description</dt>  
    <dd>{{data.FinalOffer}}</dd>
    <dt> Offer CTC</dt>  
    <dd>{{data.FinalOffer.FinalCTC}}</dd>
   {% endif %} 
  </dl> 
<br><hr>
{% endfor %}
</body>
</html>
{% endblock %}