{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student form</title>
</head>
<body>
    <h1>Offers In Hand </h1>
    {% if dataset %}
    <h4> List Of Offers </h4>
    {% for data in dataset %}
{{data.Position}}
{{data.Position.Company}}
{{data.Description}}
{{data.FinalCTC}}
<hr>
{% endfor %}
{% else %}
{{"No Offers at Present"}}
{% endif %}

</body>
</html>
{% endblock %}