{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Positions </title>
</head>
<body>
    {% for company in dataset %}
{{company}}
<a href="{% url 'UpdateCompany' company.user.id %}">Update This Company</a>
<a href="{% url 'DeleteCompany' company.user.id %}">Delete This Company</a>

<hr>
{% endfor %}
</body>
</html>
{% endblock %}