{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Positions </title>
</head>
<body>
    {% for Position in dataset %}
{{Position.Name}}  {{Position.minCTC}}-{{Position.maxCTC}} {{"LPA"}} {%for branch in Position.branch.all%} {{branch}} {% endfor %}
{% if Position.Time %} {{"Student Will Apply By "}}{{Position.Time}}{% endif %}
<a href="{% url 'AppliedStudent' Position.id %}">View List of Applied Student For This Position</a>
<hr>
{% endfor %}
</body>
</html>
{% endblock %}