<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if dataset is not None %}

    {{dataset.enrollment_no}}
    <br>
    {% if dataset is not None %}
    {{dataset.School10}}
    {% endif %}
    <br>
    {{dataset.Branch}}
    <br>
    
    {% if dataset.ResumeURL %}
    <a href="{{dataset.ResumeURL}}"> download Resume</a>
    <div>
        <object
          data='{{dataset.ResumeURL}}'
          type="application/pdf"
          width="500"
          height="678"
        >
  
          <iframe
            src='{{dataset.ResumeURL}}'
            width="500"
            height="678"
          >
          <p>This browser does not support PDF!</p>
          </iframe>
  
        </object>
      </div>
   
    {% endif %}
    
    {% endif %}
</body>
</html>